
---
const base = import.meta.env.BASE_URL;
---
<nav style="background: #111; padding: 1rem; position: sticky; top: 0; z-index: 1000; display: flex; justify-content: center; gap: 2rem; border-bottom: 1px solid #333;">
  <a href={`${base}` } view-transition>Home</a>
  <a href={`${base}charter`} view-transition>Guild Charter</a>
  <a href={`${base}treasures`} view-transition>Treasures</a>
<!--  <a href={`${base}members`} view-transition>Members</a> -->
<!--  <a href={`${base}tools`} view-transition>Tools</a> -->
</nav>
  